@media(max-width:768px){
    #header{
        &__home{

            height: 40vh;
        
        .main-nav{
            flex-direction: column;
            align-items: center;
                 }

        .main-nav-logo{
            display:block;
                      }

        .header-content
        {
          display: none;
        }

             }

        &__inner{
                height: 40vh;
            .main-nav{
                flex-direction: column;
                align-items: center;
                     }
                 }
            }
  

   #home{
        &__a{
         .skills{
             grid-template-columns:1fr;
                 }    
            }

        &__b{
         .profile{
             grid-template-columns:1fr;
                 }
             }

        &__c{
            .process{
                grid-template-columns:1fr;
                    }
             }
    
        }

        #main-footer{
            .footer-content{
                flex-direction: column;
                           }
                     }


        .lead{
            font-size: 1rem;
            word-spacing: 1px;
            }

        #about{
            &__a{
                .info{
                    grid-template-columns: 1fr;
                    }

                }

            &__c{
                .about__logos{
                    display: none;
                            }
                 }
        
                 }
        
        .items{
                grid-template-columns: 1fr;
             }

        #contact__b{
            .contact-info{
                grid-template-columns: 1fr;
                div{
                    margin-bottom: 30px;
                    }
                         }
                    }

        #contact__a {
            .form__fields{
                grid-template-areas:
            "name"
            "email"
            "subject"
            "phone"
            "message "
            "button ";
                        }
                     }

}


